<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        .main {
          padding: 0.25rem;
          line-height: 0.6rem;
          font-size: 0.4rem;
        }
        img {
          width: 100%;
          height: auto;
        }
    </style>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/resizeFontSize.js"></script>
    <script src="/js/logic.js"></script>
</head>

<body>
    <div class="main">
        <h3><%= subTitle %></h3>
        <%- article %>
    </div>
</body>

</html>